In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

# Data preperation - WTI crude

In [11]:
save_path = 'data/'
filename = 'WTI_price_and_vol'
tickers = ['CL=F', '^OVX']

df = yf.download(
    tickers, 
    period='5Y', 
    progress=False
)['Adj Close']

display(df)

df.to_parquet(
    save_path + filename + '.parquet'
)

                 CL=F       ^OVX
Date
2018-10-08  74.290001  28.860001
2018-10-09  74.959999  27.900000
2018-10-10  73.169998  28.809999
2018-10-11  70.970001  29.290001
2018-10-12  71.339996  27.730000
...               ...        ...
2023-10-02  88.820000  32.000000
2023-10-03  89.230003  33.250000
2023-10-04  84.220001  35.349998
2023-10-05  82.309998  36.590000
2023-10-06  82.279999        NaN

[1258 rows x 2 columns]