In [23]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime as dt

# Data preperation - WTI crude

In [42]:
save_path = 'data/'
filename = 'WTI_price_and_vol'
tickers = ['CL=F', '^OVX']

df = yf.download(
    tickers, 
    period='5Y', 
    progress=False
)['Adj Close']

display(df)

                 CL=F       ^OVX
Date
2018-10-18  68.650002  28.530001
2018-10-19  69.120003  27.420000
2018-10-22  69.169998  27.760000
2018-10-23  66.430000  29.379999
2018-10-24  66.820000  29.799999
...               ...        ...
2023-10-12  82.910004  38.520000
2023-10-13  87.690002  44.240002
2023-10-16  86.660004  40.700001
2023-10-17  86.660004  41.369999
2023-10-18  87.779999        NaN

[1258 rows x 2 columns]

## Create file

In [ ]:
df.to_parquet(
    save_path + filename + '.parquet'
)